* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: "Familjen Grotesk", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  pointer-events: none;
  z-index: 1;
}

.overlay button {
  pointer-events: all;
}

header {
  /* background: red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 1rem 2rem;
  gap: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

header h1 {
  font-size: clamp(3.5rem, 6vw, 5.5rem);
  font-weight: bold;
}

nav {
  display: flex;
  gap: 3rem;
}

nav button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
}

/* #fcba04 amarelo */
/* #121212 quase preto */
/* #191414 preto aquecido */
/* #0B0B0B cinza escuro */
